.box0{
    margin: 0;
    padding: 0;
    height: 20%;
    text-align: center;
    background-color: orange;
    border: black 2px solid;
    font-family: 'Lucida Sans';
    text-decoration: underline;
}

 div > p{
    font-size:small ;
    text-align: justify;
    text-decoration: none;  ;
    margin: 5PX;

}

.box1{
    border: 2px solid black;
    display: inline-block;
    background-color: burlywood;
    margin:40px;
    padding: 40px;
}

.box2{
    border: 2px solid black;
    display: inline-block ;
    background-color: chocolate;
    margin: 40px;
    padding: 40px;
}
.box3{
    border: 2px solid black;
    display:inline-block;
    visibility: hidden;       /* for hide block and space left*/
    background-color: brown;
    margin: 40px;
    padding: 40px;
}


.box4{
    border: 2px solid yellow;
    display: inline-block;
    background-color: rgb(53, 4, 4);
    color: wheat;
    margin: 40px;
    padding: 40px;

}


